body,
html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* for eggroll pls feel free to change fonts! */
h1 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    color: rgb(252, 180, 180);
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: Oswald;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

.center {
    margin: 0 auto;
}

.content {
    margin: 0 auto;
}

.clear {
    clear: both;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: calc(100% - 2em);
    background-color: rgba(0, 0, 0, 0.57);
    position: fixed;
    font-family: "Wellfleet";
}

#home a {
    color: #fff;
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
}

#socialMedias {
    display: flex;
    justify-content: space-betw;
    align-items: center;
    padding: 1em;
    /* width: calc(100% - 2em); */
    /* position: fixed; */

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 0.5em;
}

nav li a {
    color: #fff;
    opacity: 0.6;
    font-size: 16px;
    text-decoration: none;
}

nav li a.active {
    color: #fff;
    opacity: 1;
    border-bottom: 2px solid #fff;
}

nav li a:hover {
    color: #fff;
    opacity: 1;
}

#slide1,
#slide2 {
    width: 100%;
}

#slide1 {
    background:url('../img/yuna.png') 50% 0 no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 80%;
    margin: 0;
    background-size: cover;

}

#slide2 {
    background-color: #fff;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin: 0 auto;
    overflow: hidden;

}

#slide3 {
    background: url(../img/vixx.png) 50% 0 no-repeat fixed;
    color: #fff;
    padding: 5em 0;
    background-size: cover;
}

img#klogo {
    width: 300px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #862e5f
}


/* Youtube Video responsive layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *::before, *::after {
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%; 
  }
  
  
  
  .video-media-youtube {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .video__container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 0 .9375rem;
  }
  
  .video__content {
    padding-bottom:  1.25rem;
  }
  
  
  h3::before {
    content: "\f111";
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-size: .375rem;
    font-weight: 900;
    vertical-align: middle;
    transform: translateY(-.125rem);
    padding-right: .9375rem;
  }
  
  h3 {
    display: inline-block;
    padding: 20px 0;
  }
  
  .video-media-youtube-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  .media__embed {
    flex-basis: 100%;
    padding-bottom: 1.25rem;
  }
  
  

.video-media-youtube-inner-vi {
    display: block;
    overflow: hidden;
    position: relative;
    height: 0;
    padding: 0;
  }
  
  .video-media-youtube-inner-vi--ratio {
    padding-bottom: 75%;
  }
  
  .video-media-youtube-inner-vi iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
.video-media-youtube-inner,
.video__container,
.video__content,
.video-media-youtube,
.media__embed{
    list-style: none;
}

  @media only screen and (min-width: 1024px) {
  
    .video__container {
      padding: 0 1.25rem;
    }
    
    .video-media-youtube-inner {
      justify-content: space-between;
    }
    
    .media__embed {
      flex-basis: calc(50% - .9375rem);
      padding-bottom: 1.875rem;
    }
  }
/* .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper .video {
    flex: 1;
    background-color: black;
    margin: 0.5em;
    width: 600px;
    height: 340px;
}

@media only screen and (max-width: 900px) {
    .wrapper .video {
      width: 300px;
      height: 170px;
    }
  } */  